body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #45a049; /* Changement de la couleur de texte pour un meilleur contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-form {
    background-color: black;
    padding: 20px;
    border: 1px solid #45a049;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Utilisation de pourcentages pour la responsivité */
    max-width: 300px; /* Garde une largeur maximale pour les grands écrans */
}

.login-form h2 {
    text-align: center;
    color: #45a049;
}

.input-group {
    margin-bottom: 20px;
    color: #45a049;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #45a049;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #367c39;
}

/* Media query pour les petits écrans */
@media (max-width: 480px) {
    .login-form {
        width: 100%; /* Le formulaire prend toute la largeur de l'écran */
        padding: 15px; /* Réduction du padding pour économiser de l'espace */
    }

    button {
        font-size: 14px; /* Taille du texte légèrement réduite sur les petits écrans */
    }
}
