body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-form {
    background-color: black;
    padding: 20px;
    border: 1px solid #45a049;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    color: #45a049;
}

.input-group {
    margin-bottom: 20px;
    color: #45a049;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #45a049;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #367c39;
}