
body {
  margin: 0; /* aucun espace entre les bords de cet éléments et ses élément adjacents ou conteneur parent*/
  background-color: #3c3e3f;
  font-family: arial narrow, sans-serif; /*Police*/
  font-size: 20px;
}

/*____________________________________________________________________________________________________________________*/

/* Styles de la barre de navigation */
.navigation {
  display: flex;/*efficace pour disposer, aligner et distribuer l'espace*/
  align-items: center; /*pour aligner les éléments enfants le long de l'axe croisé*/
  background-color: #1E1E1E;
  padding: 10px 20px; /* (haut et bas px) / (gauche et droite px) */
  border-bottom: 20px solid #3C3E3F;/* (l'épaisseur) / (bordure continue et pleine) / (couleur) */
  font-size: 15px;
}

.navigation a {
  color: white;/* couleur du texte*/
  text-decoration: none;/* supprime déco */
  padding: 10px 15px;/* (haut et bas px) / (gauche et droite px) */
}

.navigation a:hover {
  background-color: #3C3E3F;/* couleur du fond au survol*/;
}

.connexion {
  margin-left: auto; /*pousser un élément aussi loin que possible vers la droite à l'intérieur de son conteneur (le navigateur calcule automatiquement la quantité d'espace disponible à gauche)*/
  border: 2px solid white;/* (l'épaisseur) / (bordure continue et pleine) / (couleur) */
  border-radius: 5px; /* pour arrondir les coins */
}
/*____________________________________________________________________________________________________________________*/

/*  présentation dons */
.presentation {
  margin-top: 20px;
    text-align: center;
    font-size: 20px;
    max-width: 1000px; /* Limite la largeur du conteneur à 600px */
    margin: 20px auto; /* Centrage horizontal */
    padding: 20px;
    color: white;
}

/*____________________________________________________________________________________________________________________*/

/*association */
.liste-association {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.liste-association button {
  margin-left: auto; /*pousser un élément aussi loin que possible vers la droite à l'intérieur de son conteneur (le navigateur calcule automatiquement la quantité d'espace disponible à gauche)*/
  margin:20px;
  padding: 10px;
  border-radius: 5px; /* pour arrondir les coins */
  border: 2px solid #45a049;
  color: white;
  background-color: #3C3E3F;
}

button:hover {
  background-color: #45a049;/* couleur du fond au survol*/;
}

/*____________________________________________________________________________________________________________________*/