body {
  font-family: Arial Narrow, sans-serif;
  background-color: #3c3e3f;
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  background-color: #1e1e1e;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h2 {
  color: #45a049;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navigation a:hover {
  background-color: #3c3e3f;
}

.espacestreamer-section {
  background-color: black;
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

.video {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.video .button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.video img {
  width: 100%;
  height: auto;
  border: 4px solid #45a049;
  border-radius: 5px;
}

.button-link .alerte {
  background-color: black;
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.alerte:hover {
  background-color: #367c39;
  transition: border-color 0.7s, background-color 0.7s, box-shadow 1s,
    transform 0.7s ease;
}


/* responsive*/ 
@media screen and (max-width: 768px) {
  .video {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .navigation a {
    padding: 5px 10px;
  }

  .button-link .alerte {
    padding: 5px;
  }
  
  .video {
    grid-template-columns: 1fr;
  }

  .espacestreamer-section {
    padding: 10px;
  }
}

