body {
    font-family: 'Roboto', Arial, sans-serif; /* Utilisation d'une police plus moderne */
    background-color: #0e0e10; /* Fond noir/gris très foncé */
    color: #e0e0e0; /* Texte légèrement gris pour moins de contraste */
    margin: 0;
    padding: 0;
}

header {
    background-color: #18181b; /* En-tête légèrement plus clair pour la différenciation */
    padding: 20px;
    border-bottom: 2px solid #1DB954; /* Ligne de séparation verte */
}

nav.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #202225; /* Fond de navigation légèrement différent */
    border-bottom: 2px solid #1DB954; /* Ligne de séparation verte */
}

nav.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}

nav.navigation a:hover {
    color: #000000; /* Vert vif pour survol des liens */
}

nav.navigation a.connexion {
    background-color: #1DB954; /* Vert vif pour le bouton "Mon espace" */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav.connexion a:hover {
    color: black;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
    background-color: #2c2c2c; /* Fond pour le conteneur des filtres */
    border-radius: 10px;
}

.filter {
    margin: 10px;
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #1DB954; /* Bordure verte */
    border-radius: 5px;
}

button {
    background-color: #1DB954; /* Orange vif pour le bouton */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #17a143; /* Couleur de survol pour le bouton */
}

/* responsive*/

@media (max-width: 768px) {
    nav.navigation {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .filter-container {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    nav.navigation a {
        padding: 5px;
        font-size: 0.9em;
    }

    button {
        padding: 10px;
        font-size: 1em;
    }

    .filter select {
        width: 100%;
    }
}

