/* style */
body {
    margin: 0;/*aucun espace entre les bords de cet élément et ses éléments adjacents ou son conteneur parent*/
    background-color:#3C3E3F; /*  couleur de fond */
    font-family: Arial Narrow, sans-serif; /*police*/
    font-size: 20px;
}

/* Styles de la barre de navigation */
.navigation {
    display: flex;/*efficace pour disposer, aligner et distribuer l'espace*/
    align-items: center; /*pour aligner les éléments enfants le long de l'axe croisé*/
    background-color: #1E1E1E;
    padding: 10px 20px; /* (haut et bas px) / (gauche et droite px) */
    font-size: 15px;
}

.navigation a {
    color: white;/* couleur du texte*/
    text-decoration: none;/* supprime déco */
    padding: 10px 15px;/* (haut et bas px) / (gauche et droite px) */
}

.navigation a:hover {
    background-color: #3C3E3F;/* couleur du fond au survol*/;
}

.connexion {
    margin-left: auto; /*pousser un élément aussi loin que possible vers la droite à l'intérieur de son conteneur (le navigateur calcule automatiquement la quantité d'espace disponible à gauche)*/
    border: 2px solid white;/* (l'épaisseur) / (bordure continue et pleine) / (couleur) */
    border-radius: 5px; /* pour arrondir les coins */
}

/*_________________________________________________________________________________________________________________________________________________________________*/

.filter{
    margin-bottom: 20px;
    color: black;
}

label{
    margin-right: 10px;
}

select{
    margin-right: 20px;
}

.content .item {
    display: none;
    margin: 10px 0;
    padding:10px;
    border: 2px solid #ccc;
}



