/* lien vers streamer*/ 

.streamer {
    display: grid;
    grid-template-columns: repeat(3, 0fr); /* Crée 3 colonnes de taille égale */
    grid-gap: 20px; /* Espacement entre les colonnes et les lignes */
    list-style: none; /* Supprime les puces de la liste */
    padding: 60px; /* Supprime le padding par défaut */
    margin: 60px; /* Marge externe */
    
}

.presentation{
    color: white;
    text-align: center;

}


.streamerbtn {
    background-color: black ; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Bordures arrondies */
    cursor: pointer; /* Curseur pointeur */
    font-size: 16px; /* Taille du texte */
    display: flex; /* Utilisation de Flexbox pour aligner l'image et le texte */
    align-items: center; /* Centrage vertical des éléments à l'intérieur */
    justify-content:space-between; /* même écart entre tout élément*/
    gap: 20px; /* Espace entre l'image et le texte */
    margin: 20px;
    width: 275px;
    transition: border-color 0.7s, background-color 0.7s, box-shadow 1s, transform 0.7s ease;

}

a {
    text-decoration: none;
}


section {
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Hauteur totale de la fenêtre de visualisation */
    margin: 0; /* Enlève les marges par défaut */
}

button:hover,
button:focus {
    background-color: #45a049;
    transition: border-color 0.7s, background-color 0.7s, box-shadow 1s, transform 0.7s ease;
    transform: scale(1.1);

}


/*___________________________________________________________________________________________________________________________________________________________*/
